<!DOCTYPE html>
<html>

<head>
	<title>위치기반 지역정보 검색</title>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" href="mapcss.css">
</head>

<body class="docs framebox_body">
	<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script> -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDY9JXaSCF1_OzdOHv6Md2UMSxCzHItx80&libraries=places"></script>
    <script type="text/javascript">
		var map, places, iw;
		var markers = [];
		var autocomplete;
        
        //지도 설정
		function initialize() {
			var myLatlng = new google.maps.LatLng(37.566535, 126.97796919999996);
			var myOptions = {
				zoom: 14,
				center: myLatlng,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			};
			map = new google.maps.Map(document.getElementById('map_canvas'), myOptions);
			places = new google.maps.places.PlacesService(map);
			google.maps.event.addListener(map, 'tilesloaded', tilesLoaded);
			autocomplete = new google.maps.places.Autocomplete(document.getElementById('autocomplete'));
			google.maps.event.addListener(autocomplete, 'place_changed', function () {
				showSelectedPlace();
			});
		}
        //지도 설정

        //지도 크기 조절
		function tilesLoaded() {
			google.maps.event.clearListeners(map, 'tilesloaded');
			google.maps.event.addListener(map, 'zoom_changed', search);
			google.maps.event.addListener(map, 'dragend', search);
			search();
		}
        //지도 크기 조절

        //카테고리 검색 
		function showSelectedPlace() {
			clearResults();
			clearMarkers();
			var place = autocomplete.getPlace();
			// alert(place.geometry.location);
			//검색위치 좌표
			map.panTo(place.geometry.location);
			markers[0] = new google.maps.Marker({
				position: place.geometry.location,
				map: map
			});
			iw = new google.maps.InfoWindow({
				content: getIWContent(place)
			});
			iw.open(map, markers[0]);
		}
        //카테고리 검색


		function search() {
			var type;
			for (var i = 0; i < document.controls.type.length; i++) {
				if (document.controls.type[i].checked) {
					type = document.controls.type[i].value;
				}
			}
			autocomplete.setBounds(map.getBounds());
			var search = {
				bounds: map.getBounds()
			};
			if (type != 'establishment') {
				search.types = [type];
			}
			places.search(search, function (results, status) {
				if (status == google.maps.places.PlacesServiceStatus.OK) {
					clearResults();
					clearMarkers();
					for (var i = 0; i < results.length; i++) {
						markers[i] = new google.maps.Marker({
							position: results[i].geometry.location,
							animation: google.maps.Animation.null //마커 애니메이션
						});
						google.maps.event.addListener(markers[i], 'click', getDetails(results[i], i));
						setTimeout(dropMarker(i), i * 100);
						addResult(results[i], i);
					}
				}
			});
		}

		function clearMarkers() {
			for (var i = 0; i < markers.length; i++) {
				if (markers[i]) {
					markers[i].setMap(null);
					markers[i] == null;
				}
			}
		}

		function dropMarker(i) {
			return function () {
				markers[i].setMap(map);
			}
		}

		function addResult(result, i) {
			var results = document.getElementById('results');
			var tr = document.createElement('tr');
			tr.style.backgroundColor = (i % 2 == 0 ? '#F0F0F0' : '#FFFFFF');
			tr.onclick = function () {
				google.maps.event.trigger(markers[i], 'click');
			};
			var iconTd = document.createElement('td');
			var nameTd = document.createElement('td');
			var icon = document.createElement('img');
			icon.src = result.icon.replace('http:', '');
			icon.setAttribute('class', 'placeIcon');
			var name = document.createTextNode(result.name);
			iconTd.appendChild(icon);
			nameTd.appendChild(name);
			tr.appendChild(iconTd);
			tr.appendChild(nameTd);
			results.appendChild(tr);
		}

		function clearResults() {
			var results = document.getElementById('results');
			while (results.childNodes[0]) {
				results.removeChild(results.childNodes[0]);
			}
		}

		function getDetails(result, i) {
			return function () {
				places.getDetails({
					reference: result.reference
				}, showInfoWindow(i));
			}
		}

		function showInfoWindow(i) {
			return function (place, status) {
				if (iw) {
					iw.close();
					iw = null;
				}
				if (status == google.maps.places.PlacesServiceStatus.OK) {
					iw = new google.maps.InfoWindow({
						content: getIWContent(place)
					});
					iw.open(map, markers[i]);
				}
			}
		}

		function getIWContent(place) {
			var content = '<table style="border:0"><tr><td style="border:0;">';
			content += '<img class="placeIcon" src="' + place.icon + '"></td>';
			content += '<td style="border:0;"><b><a href="' + place.url + '">' + place.name + '</a></b>';
			content += '</td></tr></table>';
			return content;
		}
		google.maps.event.addDomListener(window, 'load', initialize);
	</script>

	<style type="text/css">
        /* 웹페이지  */
        html, body {
			margin: 0;
			padding: 0;
			height: 100%;
			font-family: arial;
			font-size: 13px;

		}

        /* 지도 css */
		#map_canvas {
			float: center;
			width: 820px;
			height: 406px;
		}
        
        /* 주변 시설 목록을 담는 칸 */
		#listing {
			float: left;
			margin-left: 1px;
			width: 205px;
			height: 326px;
			overflow: auto;
			cursor: pointer;
		}

        /* 카테고리 목록 */
		#controls {
			padding: 5px;
		}

        /* 시설 목록의 이미지 크기 */
		.placeIcon {
			width: 16px;
			height: 16px;
			margin: 2px;
		}

        /* 주변 시설 이름 목록 */
		#results {
			border-collapse: collapse;
			width: 184px;
		}

        /* 주소 입력 위치 */
		#locationField {
			margin-left: 1px;
		}
        /* 주소 입력 칸 크기 */
		#autocomplete {
			width: 516px;
			border: 3px solid #ccc;
		}
	</style>

<h2>✈ 국내 여행지 찾기</h2><hr><br>
	<!-- 주소 검색창  -->
	<div id="locationField">
		<input id="autocomplete" type="text">
	</div>
	<br>
	<!-- 맵 -->
	<div id="map_canvas"></div>
	
	<div id="controls">
		<form name="controls">
			<h3>< 이 주변의 핫플레이스 ></h3>
			<input type="radio" name="type" value="tourist_attraction" onclick="search()" checked="checked" />관광지
			<br/>
            <input type="radio" name="type" value="cafe" onclick="search()"  />카페
			<br/>
            <input type="radio" name="type" value="store" onclick="search()"  />마트
			<br/>
			<input type="radio" name="type" value="hospital" onclick="search()" />병원
			<br/>
			<input type="radio" name="type" value="restaurant" onclick="search()" />식당
			<br/>
	
	<!-- 시설 리스트 목록 -->
	<div id="listing">
		<table id="results"></table>
	</div>

    <form>
        <select id="timefont" name="time" >
          <option value="none">=== 시간 선택 ===</option>
          <option value=1>1시간</option>
          <option value=1.5>1시간 30분</option>
          <option value=2>2시간</option>
          <option value=2.5>2시간 30분</option>
          <option value=3>3시간</option>
        </select>
    </form>


</body>

</html>
